page-login {
.content{
        .log-icon-ys{
          .top-jl-ys{
            height: rem(90);
          }
         img{
//         width: rem(160);
           height: rem(160);
           display: block;
           margin: rem(5) auto;
         }
//       .logo{
//         height: rem(160);
//         width:100%;
//         display: block;
//         margin: rem(5) auto;
//           
//       }
//        background: url("../../assets/imgs/commodity.png");
//        background-position: 0% 0%;
//        background-repeat: no-repeat;
//        background-size: 100%;
        }
      }
      
      .item-block{
        width: 80%;
        margin: 0 auto;
        border-radius: rem(20);
        color: #ffffff;
        .label-ios-primary {
          color:#d2364e;
        }
        border: 1px solid #d2364e;
        border-radius: 36px;
      }
      .list-ios > .item-block:first-child{
          border-top:1px solid #d2364e
      }
      .list-ios .item-block .item-inner{
          border-bottom:none
      }
      .item-ios{
        background: #fff;
        color:#d2364e
      }
      .c-button {
        width:80%;
        margin:rem(40) auto;
        background-color:#d2364e;
        color:#fff;
      }
      .button-inner{
          color:#fff
      }
      .list-ios {
        margin-top:rem(50);
        &>.item-block{
          margin-bottom: rem(30);
//        &:first-child{
//          border-top-width:0;
//        }
//        &:last-child {
//          border-bottom-width:0;
//        }
//        .item-inner {
//          border-bottom-width:0;
//        }
        }
      }
      ion-grid.grid {
        width:80%;
        margin:0 auto;
        ion-label {
          margin:0 rem(10);

        }
        .checkbox-icon {
          border-radius: 0;
          border-color: #a3a3a3;
          background-color: #000;
        }
      }
      .flex {
        display: flex;

      }
}
