<ion-header>
  <ion-navbar>
    <ion-title>
      最新任务
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of list">
      <img item-start src="assets/imgs/msg.png" class='headimg'>
      <div>
        <h2>{{item.title}}</h2>
        <button class='boximg' (click)="task(item.taskId)" [ngClass]="{'boximg':true,'btncolorred':item.type == 0,'btncolorgary':item.type == 1}">{{item.type == 0 ? "接任务" : "已接"}}</button>
      </div>
      <h3>任务截止日期：{{item.overTime}}</h3>
      <p>{{item.explain}}</p>
    </ion-item>
  </ion-list>
  <div class="loader" *ngIf="loader">
			    <svg class="circular" viewBox="25 25 50 50">
			      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
			    </svg>
			     <span>加载中...</span>
	</div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf='flag != total'>
   <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中..."></ion-infinite-scroll-content>
 </ion-infinite-scroll>
 <div class="nomore" align="center" *ngIf='flag == total'>没有更多了~~~</div>
</ion-content>
