page-searchc {
p{  
    span{
    margin-right:2px;
    }
    .redspan{
        color:#d2364e
    }
    .greenspan{
        color:#0ca60f
    }
    .organspan{
        color:#ffa955
    }
}
.col_zq{
 ion-icon{
    color:#d2364e;
    }
}
}
