page-getmoney {
 .content-ios{
    background-color:#eee;
    }
.button-inner{
    color:#fff
}
.container_zq{
    background-color:#fff;
    border-radius:rem(6);
}
.text-input-ios{
   color:#888 
}
.list-ios .item-block .item-inner{
    border:none;
}
.item-block{
    border-bottom:1px solid #c8c8cc;
}
.list-ios > .item-block:first-child {
    border-top:none;
}
.red_zq{
    color:red;
}
.button-ios,.button-ios.activated{
    background-color:#d2364e;
}
}
