// http://ionicframework.com/docs/theming/
@function rem($px) {
  @return $px / 37.5 * 2rem;
}
.button-inner {
  color: #343434;
}
.tabs-ios .tabbar,.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
    background-color:#fff ;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-ios .tab-button[aria-selected=true],.tabs-ios .tab-button:hover:not(.disable-hover), 
{
    color:#d2364e;
    
}
.nomore{
    color:#ccc;
    margin:16px auto;
}


.loader {
  position: relative;
  margin: 0 auto;
  width: rem(80);
  .circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
span{
    color:#ccc;
    width:120px;
    position: absolute;
    top:110%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke:#ccc;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
