<!--
  Generated template for the InformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>资讯</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	
	<div *ngFor="let item of list">
	<p class='time' *ngIf='item.type==1'>{{item.addTime}}</p>
  <ion-card class='infor' *ngIf='item.type==1'>
    <img src="{{imgurl+item.picture}}">
    <div>
      <span>{{item.title}}</span>
      <!--<a href="{{item.subUrl}}">点击进入详情 &gt;</a>-->
    </div>
  </ion-card>
  <p class='time' *ngIf='item.type==2'>{{item.addTime}}</p>
  <ion-card class='commodity' *ngIf='item.type==2'>
    <img src="{{imgurl+item.goodsInfo.attId}}">
    <div>
      <span>{{item.goodsInfo.title}}</span>
      <!--<span>{{item.title}}</span>-->
      <span>{{item.explain}}</span>
      <div>
        <span>现价：¥{{item.goodsInfo.actPrice}}&nbsp; </span>
        <del>¥{{item.goodsInfo.salePrice}}</del>
      </div>
    </div>
  </ion-card>  
<!--<ion-slides loop="true" autoplay="2000" *ngIf="list.length>1">
  <ion-slide *ngFor="let item of list">
   
  </ion-slide>
</ion-slides>-->
<p class='time' *ngIf='item.type==3'>{{item.addTime}}</p>
<ion-card class='notice' *ngIf='item.type==3'>
  <h2>{{item.title}}</h2>
  <p>{{item.explain}}</p>
</ion-card>
</div>
<div class="loader" *ngIf="loader">
			    <svg class="circular" viewBox="25 25 50 50">
			      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
			    </svg>
			     <span>加载中...</span>
	</div>
 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf='flag != total'>
   <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中..."></ion-infinite-scroll-content>
 </ion-infinite-scroll>
 <div class="nomore" align="center" *ngIf='flag == total'>没有更多了~~~</div>
</ion-content>
